[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/brain/Desktop/installer.desktop]
row=3
col=0

[/home/brain/Desktop/installer]
row=4
col=0

[ゴミ箱]
row=0
col=0

[/]
row=1
col=0

[/home/brain]
row=2
col=0

