[Desktop Entry]
Version=1.0
Type=Application
Name=AFNI
Exec=/usr/local/AFNIbin/afni
Icon=afnilogo.png
Terminal=false
Categories=Neuroimaging;
StartupNotify=true

