[Desktop Entry]
Version=1.0
Type=Application
Name=AFNI
Exec=afni
Icon=afnilogo.png
Terminal=false
Categories=Neuroimaging;
StartupNotify=true
NoDisplay=true

