[Desktop Entry]
Encoding=UTF-8
Name=CONN17f
Exec=bash -c '/usr/local/conn_standalone/R2017a/run_conn.sh /usr/local/MATLAB/MCR/v92'
Icon=conn.png
Type=Application
Terminal=false
Categories=Neuroimaging;
NoDisplay=true

