[Desktop Entry]
Encoding=UTF-8
Name=FSL 5.0 Wiki
Exec=xdg-open /usr/local/fsl/doc/wiki/FSL.html
Icon=fsl-5.0.xpm
Type=Application
Terminal=false
Categories=Neuroimaging;
NoDisplay=true
