[Desktop Entry]
Version=1.0
Type=Application
Name=Mango
Comment=
Exec=/usr/local/Mango/mango
Icon=mango.png
Categories=Neuroimaging;
StartupNotify=true
Terminal=false
