[Desktop Entry]
Version=1.0
Type=Application
Name=Chris Rorden's MRI tutorial
Comment=
Exec=x-www-browser ~/tutorial/index.html
Icon=tutorials.png
Categories=Neuroimaging;
StartupNotify=true
Terminal=false
NoDisplay=true

