[Desktop Entry]
Version=1.0
Type=Application
Name=Virtual MRI
Comment=
Exec=virtual-mri
Icon=brainmri.png
Categories=Neuroimaging;
StartupNotify=true
Terminal=false
