[Desktop Entry]
Version=1.0
Type=Application
Name=Install CONN17.f Standalone
Name[ja]=CONN 17.f スタンドアロン版のインストール
Exec=sh -c "~/git/lin4neuro-xenial/installer-scripts/conn17f_installer_xenial.sh"
Icon=conn
#Categories=Neuroimaging;
StartupNotify=true
Terminal=true

