[Desktop Entry]
Version=1.0
Type=Application
Name=Install MRtrix3
Name[ja]=MRtrix3のインストール
Exec=sh -c "~/git/lin4neuro-xenial/installer-scripts/mrtrix3_installer_xenial.sh"
Icon=mrtrix
#Categories=Neuroimaging;
StartupNotify=true
Terminal=true

