[Desktop Entry]
Version=1.0
Type=Application
Name=Install SPM12 Standalone
Name[ja]=SPM12スタンドアロン版のインストール
Exec=sh -c "~/git/lin4neuro-xenial/installer-scripts/spm12_installer_xenial.sh"
Icon=spm12
#Categories=Neuroimaging;
StartupNotify=true
Terminal=true

