[Desktop Entry]
Version=1.0
Type=Application
Name=Install VirtualBox Guest Additions
Name[ja]=VirtualBox Guest Additionsのインストール
Exec=bash -i -c "~/git/lin4neuro-xenial/installer-scripts/virtualbox_guest_xenial.sh"
Icon=virtualbox
#Categories=Neuroimaging;
StartupNotify=true
Terminal=true
NoDisplay=true

